
.sidebar{
    width: 50px;
    display:flex;
    height: 500px;
    text-align: center;
    align-self:left;
    background-color:whitesmoke;
    display:block;
    flex-direction: column;
    	/* Typography */
	font-family: 'Inter', -apple-system, sans-serif; /* Font family */
	font-size: 14px; /* Base font size */
	line-height: 1.5; /* Line spacing */
	padding: 24px 0;
    left:0;
    top:0;
}

.sidebar-logo{
    display:flex;
    gap:8px;
    flex-direction: column;
    align-items: center;
    margin-bottom:50 px;
    margin-top: 50px;

}